<a href="https://colab.research.google.com/github/onlookertozip/AImlStudy/blob/main/2%EC%9D%BC%EC%B0%A8_%EC%88%98%EC%97%85_%EC%98%A4%ED%9B%84_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 함수

```{margin}
함수(function)
```

함수(function)는 입력을 받아 그 입력에 해당하는 출력을 반환(return)하는 기계와 같다. 예를 들어 500원을 넣으면 생수가 나오고, 1000원을 넣으면 콜라가 나오는 자판기는 다음과 같은 함수이다.

```
f(500) = "생수"
f(1000) = "콜라"
```

```{margin}
`def`
```

```{margin}
`return`
```

파이썬에는 `def` 키워드와 `return` 키워드를 사용하여 다음과 같이 함수를 만들 수 있다. 파이썬에는 `def` 키워드와 `return` 키워드를 사용하여 다음과 같이 함수를 만들 수 있다

```
def 함수이름(입력변수이름):
   출력변수를 만드는 명령
   return 출력변수이름
   
```

예를 들어 숫자 x를 입력하면 두 배가 되도록 하는 함수는 다음과 같다.

In [ ]:
def twotimes(x):
    y = 2 * x
    return y

이렇게 만들어진 함수를 사용하려면 함수 이름과 그 뒤에 괄호로 싸인 입력값을 넣으면 된다.

In [ ]:
twotimes(2)

4

In [ ]:
twotimes(10)

20

## 입력이 여러 개인 함수

함수의 입력은 한 개가 아니라 여러 개가 되어도 상관없다. 입력 변수가 여러개이면 쉼표, 영어로 comma 를 사용하여 함수를 정의한다. 입력 변수는 원하는 만큼 얼마든지 만들 수 있다.

```
def 함수이름(입력변수1, 입력변수2, 입력변수3):
   출력변수를 만드는 명령
   return 출력변수이름
```

In [ ]:
def add(x, y):
    return x + y

In [ ]:
add(1, 2)

3

In [ ]:
def sum(a, b, c):
    s = a + b + c
    return s

In [ ]:
sum(1, 2, 3)

6

## 람다 함수

```{margin}
람다 함수(lambda function)
```

함수에 이름을 주지 않거나 코드를 짧게 줄여쓰는 방법으로 람다(lambda)함수라는 것이 있다.  예를 들어 다음 함수 `f`는

In [ ]:
def f(x):
    return 2 * x

람다 함수로 정의하면 다음과 같다.

In [ ]:
f = lambda x : 2 * x

In [ ]:
f(2)

4

람다 함수는 함수 자체를 다른 함수의 인수로 넣을 때, 함수의 출력값을 함수로 받을 때 유용하게 사용된다.

## 지역 변수

```{margin}
지역 변수(local variable)
```

함수에 넣은 입력 변수나 함수 안에서 만들어진 변수는 함수 바깥에서는 사용할 수 없다. 혹시 이름이 같은 변수가 있다고 하더라도 별개의 변수가 된다.

따라서 함수 안에서 만들어지고 사용되는 함수를 지역 변수, 영어로 local variable 이라고 한다.

실제로 확인해 보자. 일단 함수 바깥에 혹시라도 y라는 변수가 있으면 `del` 명령으로 지운다.

In [ ]:
del y

NameError: name 'y' is not defined

기존에 y라는 변수가 없었으면 그런 변수가 없다는 오류가 나온다. 만약 기존에 y라는 변수가 있었으면 오류가 출력되지 않고 지워지기만 한다

이제 다음과 같이 `y`라는 이름의 지역 변수를 가지는 함수를 만들고 실행시킨다.

In [ ]:
def f(x):
    y = 10 * x
    print("y = ", y)
    return y

In [ ]:
f(10)

y =  100

100

y라는 변수가 생겨났는지 다시 확인한다.

In [ ]:
y

NameError: name 'y' is not defined

함수 안에서 만든 y라는 변수는 함수 밖에는 생성되지 않았다.

이번에는 함수 바깥에서 y라는 변수를 사용해 보자.

In [ ]:
y = 1000

In [ ]:
y

1000

이제 함수를 실행시킨다.

In [ ]:
f(1)

y =  10

10

다시 바깥에서 y값을 확인하면 이전과 같다.

In [ ]:
y

1000

즉, 함수 안에서 만들어지는 지역 변수는 함수 바깥에 아무런 영향을 주지 않는다.

```{admonition} 연습 문제 2.6.4

3개의 숫자를 입력하면 "그 숫자들의 합"과 "그 숫자들을 제곱한 숫자들의 합"의 차이(큰 수에서 작을 수를 뺀 값)를 계산하는 함수 `diffsum`를 만든다. 큰 수에서 작은 수를 뺀 결과이므로 항상 0보다 크거나 0과 같아야 한다.
```

## 전역 변수

```{margin}
전역 변수(global variable)
```

하지만 지역 변수와 반대로 함수 바깥에서 만들어진 변수는 함수 안에서 사용할 수 있다. 이러한 변수를 전역 변수(global variable)이라고 한다.

In [ ]:
z = 3

def f2(x):
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [ ]:
f2(10)

y = 30
z = 3

30

다만, 이때 바깥의 변수와 같은 이름의 변수를 함수 안에 만들면 안 된다. 만약 바깥의 변수와 같은 이름의 변수를 함수 안에 다시 만들면 함수 안에서는 그 지역 변수를 사용하다가 함수 바깥으로 나오면 지역 변수는 사라지고 원래의 변숫값으로 되돌아온다.
따라서 함수 안에서는 함수 바깥에 있는 변수의 값을 바꿀 수 없다.

In [ ]:
z = 3

def f3(x):
    z = 99
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [ ]:
f3(10)

y = 990
z = 99

990

함수 바깥에서는 z가 여전히 3이다.

In [ ]:
z

3

```{margin}
`global`
```

만약 함수안에서 함수 바깥에 있는 변수의 값을 꼭 바꿔야만 한다면 다음과 같이 함수 이름 앞에 `global` 키워드를 선언해 주면 된다.

In [ ]:
z = 3

def f4(x):
    global z
    z = 99
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [ ]:
f4(10)

y = 990
z = 99

990

In [ ]:
z

99

함수 바깥의 z 값이 99로 바뀌어 있는 것을 확인할 수 있다.